pip install mysql-connector-python

1) install the mysql connector library  **One time step**

2) import mysql connector library

3) use the connect() method for doing connections with required arguments.

4) use the cursor() method to create cursor object that performs various SQL operations

5) Use the execute() or executemany() or executeall() method that runs SQL query.

6) Extract the result using fetchall() or fetchone() or fetchmany() to the read the result.

7) Close the cursor object and connection objects.

In [10]:
import mysql.connector
from mysql.connector import Error
try:
    connection = mysql.connector.connect(host='localhost',user='root',password='')
    if connection.is_connected():
        mycursor = connection.cursor()
        mycursor.execute('SHOW DATABASES;')
        result = mycursor.fetchall()
#         print(result)
        for item in result:
            print(item)
        
    else:
        print("Some issue")
        
except Error as e:
    print("Some issue in SQL",e)
    
finally:
    if connection.is_connected():
        mycursor.close()
        connection.close()

('alpha',)
('ams',)
('crm',)
('data_science',)
('dcodetech',)
('dcodetech_datascience',)
('demo',)
('django2022',)
('doubtsadmin',)
('doubtsapp',)
('doubtsapp_generator',)
('dummy',)
('electronics_db',)
('furrent1',)
('furrent_db',)
('generator',)
('hansika_db',)
('house_rental',)
('i3032353_wp10',)
('information_schema',)
('intenship2022',)
('intern_batch2',)
('itv',)
('logon',)
('mysql',)
('netmlmpro',)
('nishu',)
('performance_schema',)
('phpmyadmin',)
('polykart_db',)
('polykart_db_new',)
('product_db',)
('pythonJune2022',)
('realtypro_db',)
('rentalmanagement',)
('test',)
('test_mlmdb',)
('tk_db',)
('tkinter_data',)

# creating table using python in mysql

In [11]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    if connection.is_connected():
        mycursor = connection.cursor()
        create_table_query = """
        CREATE TABLE students(
        student_id int(10) NOT NULL,
        student_name varchar(100) NOT NULL,
        student_course varchar(100) NOT NULL,
        student_admission_date DATE NOT NULL,
        PRIMARY KEY(student_id));"""
        
        mycursor.execute(create_table_query)
        print("Table Created Successfully")
        
except Error as e:
    print("Failed to create table",e)
    
finally:
    if connection.is_connected():
        mycursor.close()
        connection.close()

Table Created Successfully

## inserting records

In [13]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    if connection.is_connected():
        mycursor = connection.cursor()
        insert_query = """
        INSERT INTO students(student_id,student_name,student_course,
        student_admission_date) VALUES (1002,"Alpha","Web Dev","2022-07-12")
        """
        mycursor.execute(insert_query)
        connection.commit()
        print("Record Inserted Successfully")
        
except Error as e:
    print("Failed to create table",e)
    
finally:
    if connection.is_connected():
        mycursor.close()
        connection.close()

Record Inserted Successfully

## Insert Multiple records in a table

In [1]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    
    cursor = connection.cursor()
    insert_query = """INSERT INTO students(student_id,student_name,student_course,
        student_admission_date) VALUES(%s,%s,%s,%s)
    """
    
    
    records = [
        (1002,'Demo','Full Stack Developer','2022-05-24'),
        (1003,'Test User','Java Development Course','2022-06-10'),
        (1004,'Pay Less','Data Analytics','2022-07-11'),
        (1005,'Beta User','PHP development','2022-08-01')
    ]
    
    cursor.executemany(insert_query,records)
    connection.commit()
    print(f'{cursor.rowcount} Records Inserted Successfully')
    
    
except Error as e:
    print('Some issue in inserting',e)
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

4 Records Inserted Successfully

NameError: name 'mycursor' is not defined

## Retrive Data from Table

In [11]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    
    cursor = connection.cursor()
    query = "SELECT * FROM students"
    cursor.execute(query)
    mydata = cursor.fetchall()
#     print(mydata[1])
    for item in mydata:
        print(f'Id is {item[0]}')
        print(f'Name is {item[1]}')
        print(f'Course is {item[2]}')
        print(f'Date of Admission is {item[3]}')
#         print("========================================\n")
except Error as e:
    print('Some issue in inserting',e)
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

Id is 1001
Name is Good coder
Course is Data Science
Date of Admission is 2022-06-10
========================================

Id is 1002
Name is Demo
Course is Full Stack Developer
Date of Admission is 2022-05-24
========================================

Id is 1003
Name is Test User
Course is Java Development Course
Date of Admission is 2022-06-10
========================================

Id is 1004
Name is Pay Less
Course is Data Analytics
Date of Admission is 2022-07-11
========================================

Id is 1005
Name is Beta User
Course is PHP development
Date of Admission is 2022-08-01
========================================

In [15]:
'''
Logic for fetching 1 record at a time. using fetchone
'''

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    
    cursor = connection.cursor()
    query = "SELECT * FROM students WHERE student_id = 1003"
    cursor.execute(query)
    mydata = cursor.fetchone()
    print(mydata[0])
    print(mydata[1])
    print(mydata[2])
    print(mydata[3])
except Error as e:
    print('Some issue in inserting',e)
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

1003
Test User
Java Development Course
2022-06-10

In [17]:
'''
Fetch Many 
'''

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    
    cursor = connection.cursor()
    query = "SELECT * FROM students"
    cursor.execute(query)
    mydata = cursor.fetchmany(3)
#     print(mydata[1])
    for item in mydata:
        print(f'Id is {item[0]}')
        print(f'Name is {item[1]}')
        print(f'Course is {item[2]}')
        print(f'Date of Admission is {item[3]}')
        print("========================================\n")
except Error as e:
    print('Some issue in inserting',e)
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

Id is 1001
Name is Good coder
Course is Data Science
Date of Admission is 2022-06-10
========================================

Id is 1002
Name is Demo
Course is Full Stack Developer
Date of Admission is 2022-05-24
========================================

Id is 1003
Name is Test User
Course is Java Development Course
Date of Admission is 2022-06-10
========================================

## update

In [19]:

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    
    cursor = connection.cursor()
    update_query = """
    UPDATE students SET student_name = 'Alpha Coder '
    WHERE student_id = 1005"""
    cursor.execute(update_query)
    connection.commit()
    print(f'{cursor.rowcount} Records updated Successfully')
    
except Error as e:
    print('Some issue in inserting',e)
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

1 Records updated Successfully

## Delete

In [20]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                        user='root',
                                        password='',
                                        database='itv-june-2022')
    
    cursor = connection.cursor()
    delete_query = """
    DELETE FROM students where student_id = 1005
    """
    
    cursor.execute(delete_query)
    connection.commit()
    print(f'{cursor.rowcount} Record Deleted Successfully ')
    
except Error as e:
    print('Some issue in inserting',e)
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

1 Record Deleted Successfully