1)Python program to interchange first and last elements in a list.

In [1]:
mylist=[10,20,30,40]#using 3rd variable
print("before swapping: ",mylist)
temp=mylist[0]
mylist[0]=mylist[3]
mylist[3]=temp
print("after swapping: ",mylist)

before swapping:  [10, 20, 30, 40]
after swapping:  [40, 20, 30, 10]

In [2]:
mylist=[10,20,30,40]#using swapping inbuilt functn
print("before swapping: ",mylist)
mylist[0],mylist[3]=mylist[3],mylist[0]
print("after swapping: ",mylist)

before swapping:  [10, 20, 30, 40]
after swapping:  [40, 20, 30, 10]

In [5]:
mylist=[10,20,30,40]#using * operand- doubt
print("before swapping: ",mylist)
start, *middle, end=mylist#only one unpack operation allowed in list
mylist=[end,*middle, start]
print("after swapping: ",mylist)#return keyword only be use in fucntion

before swapping:  [10, 20, 30, 40]
after swapping:  [40, 20, 30, 10]

In [12]:
mylist=[10,20,30,40]#using list methods
print("before swapping: ",mylist)
first=mylist.pop(0)#now the 10 is already removed and stored in first variable[20,30,40]
last=mylist.pop(2)
mylist.insert(0,last)
mylist.append(first)
print("after swapping: ",mylist)

before swapping:  [10, 20, 30, 40]
after swapping:  [40, 20, 30, 10]

2)Python â€“ Swap elements in String list.

In [21]:
mylist=["shru","sami","shash"]
res=",".join(mylist)#list to string
print(type(res))
res=res.replace("s","z")
print(res)
res1=res.split()
print(res1)

<class 'str'>
zhru,zami,zhazh
['zhru,zami,zhazh']

3)way to find lenth of list

In [51]:
mylist=[10,20,30,40]#doubt- how to do by loop
counter=0
print(len(mylist))
for item in mylist:
  counter=counter+1
  print(str(counter))

4
1
2
3
4

In [54]:
for item in ["shru","sami"]:#how to define list in loop
  print(item)

shru
sami

In [55]:
for i in range(50):
  print(i)

0
1
2
3
4

4)to get max and min number from list

In [28]:
mylist=[10,40,50,20,46]#doubt-how to do using loop
print(max(mylist))
print(min(mylist))

10

nested/multidimesnsional list

In [29]:
nested_list = [
    [
        ["hello","welcome",33],
        ["shru","shash"]
         

    ],
    [
        [222,333,444],
     ["sami","hello"]
    ]
   
]

In [30]:
nested_list[0][1][1]

'shash'

In [47]:
l = [[[[["i","have","the"],["knowledge","of","programming"]]]]]

l[0][0][0].append([1,2,3,4])
print(l)

[[[[['i', 'have', 'the'], ['knowledge', 'of', 'programming'], [1, 2, 3, 4]]]]]

In [34]:
new_list = [[[[['i', 'have', 'the', 'power', 'of', 'coding'],
    ['knowledge', 'in', 'programming', 'python']]]]]
new_list[0][0][0][0][0]

'i'

5)check the existence of an element in the list

In [58]:
mylist=[10,20,30,40]
for item in mylist:
  print(item)

10
20
30
40
item iterated
item iterated
30
item iterated

In [61]:
mylist=[10,20,30,40]
for item in mylist:
  if item==30:
   print("item present in list",item)
   #if (4 in test_list): another method
    #print ("Element Exists")

item present in list 30

In [63]:
test_list = [10, 15, 20, 7, 46, 2808,15,15,15]
exist_count = test_list.count(15)
if exist_count > 0:
    print("Yes, 15 exists in list")
else:
    print("No, 15 does not exists in list")

Yes, 15 exists in list

reversing of list using insert method

In [66]:
lst=[10,20]
l=[]
for i in lst:
  l.insert(1,i)
print(l)

[10, 20]

copy/cloning

In [68]:
li1=[10,20,30,40]
#li2=li1 using assignment operator
licopy=li1[:]
print(licopy)

[10, 20, 30, 40]

In [77]:
li1=[10,20,30,40]
print(licopy.extend(li1))
print(licopy)

None
[10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

[4]