## Functions in Python


* A function is a block of code which only runs when it is called.

* You can pass data, known as parameter, into a function and can return data as a result.

* In Python a function is defined using the keyword **def** , to call a function we need to use the     function name followed by parenthesis.


* Parameter : A parameter is the variable listed inside the parenthesis when the function is       defined

* Argument : An argument is a value that is sent to the function when it is called.


* Varaibles Type in Functions:

  1) Local Variable : Any Variable that is defined inside the function body is called as local        variable
  
  2) Global Variable: A variable that is defined outside the function or having a keyword called       as *global*  is termed as a global variable.
  
  
**Arbitary Arguments** : *args

If you do not know how many arguments are to be passed into your function, add a * (asterik) before the parameter name in the function.

The function will recieve a **tuple** of arguments and can access the items accordingly.



**Arbitary Keyword Arguments** : **kwargs

If you do not know how many arguments that will be passed into your function, add two asterik (** ) before the parameter in the function defintion. The function will recieve a dictionary of arguments and can access the item accordingly.


**Lambda Functions -- Anonymous** :

A lambda functions is a small anonymous function, it can have any number of arguments, but can have only a single expression.

lambda arguments : expression

In [1]:
def greet():
    #this is function body
    print("Welcome to Function Session in Python")

In [2]:
greet()   #calling the function

Welcome to Function Session in Python

In [4]:
print(greet()) #printing the function call.

Welcome to Function Session in Python
None

In [5]:
def greet1():
    return "Hello Welcome"

In [6]:
greet1()

'Hello Welcome'

In [7]:
print(greet1())

Hello Welcome

In [8]:
def my_func():
    name = "good coder"
    age = 33
    print(f"Your Name is {name} and your age is {age}")

In [11]:
res = my_func()

Your Name is good coder and your age is 33

In [12]:
print(res)

None

In [13]:
def my_func1():
    course="python"
    duration=3
    return (f'Course Name is {course} and duration is {duration}')

In [14]:
my_func1()

'Course Name is python and duration is 3'

In [15]:
res1 = my_func1()

In [16]:
res1

'Course Name is python and duration is 3'

In [17]:
def info(name,age):
    print("Name is",name)
    print("Age is",age)

In [19]:
info("alpha",23)

Name is alpha
Age is 23

In [20]:
info("test",21)

Name is test
Age is 21

In [21]:
info(23,"beta")

Name is 23
Age is beta

In [22]:
info(age=23,name="beta")

Name is beta
Age is 23

In [23]:
def info(name,age):
    return f'Name is {name} Age is {age}'

In [24]:
info(age=23,name="beta")

'Name is beta Age is 23'

In [25]:
print(info(age=23,name="beta"))

Name is beta Age is 23

**global variable**

In [3]:
country = "India"    #this is a global variable.

def my_country():
    print(f'Name of Country is : {country}')

In [4]:
my_country()

Name of Country is : India

In [5]:
print(country)

India

In [6]:
country = "USA"

In [7]:
my_country()

Name of Country is : USA

In [11]:
course = "Python" #global variable
print('Global Address is',id(course))
def my_course():
    course = "java" #local variable
    print(f'Course Name is {course}')
    print('Local Address is',id(course))

Global Address is 3042171853616

In [12]:
my_course()

Course Name is java
Local Address is 3042171880752

In [10]:
print(course)

Python

In [13]:
drink = "pineapple"  #global variable

def change_drink():
    global drink
    drink = "sugarcane"
    print(drink)

In [14]:
change_drink()

sugarcane

In [15]:
print(drink)

sugarcane

In [18]:
def myfunc():
    pass

* *args

In [22]:
def print_num(*num):
#     print(num)
#     print(type(num))
    for item in num:
        print(item)

In [23]:
print_num(10,20,30,40,50,60,70)

10
20
30
40
50
60
70

In [24]:
def add_num(*num):
    total = 0
    for item in num:
        total = total + item
    print(total)

In [26]:
add_num(1,2,3,4,5,6,7,8,9,10)

55

In [27]:
def my_info(**info):
    print(info)

In [29]:
my_info(name='good coder',age=33,desg='SDE')

{'name': 'good coder', 'age': 33, 'desg': 'SDE'}

In [32]:
def my_data(*data,**data2):
    print(data)
    print(data2)

In [33]:
my_data("hello","hi","bye",hobby='coding',sal=5000,loc='Mumbai')

('hello', 'hi', 'bye')
{'hobby': 'coding', 'sal': 5000, 'loc': 'Mumbai'}

* Clouser Technique (Nested Function)

In [37]:
def outer_func():
    message = "Hello Welcome to Functions"
    def inner_func():
        print(message)
    return inner_func()

In [38]:
outer_func()

Hello Welcome to Functions

In [41]:
def func1():
    num1 = 10
    def func2():
        num2 = 20
        def func3():
            num3 = 30
            print(num1,num2,num3)
        return func3()
    return func2()

In [43]:
func1()

10 20 30

In [1]:
def square(num):
    return num**2

In [2]:
square(10)

100

In [3]:
square_num = lambda num : num**2

In [4]:
square_num

In [6]:
square_num(6)

36

In [7]:
multiplication = lambda num1,num2 : num1 * num2

In [8]:
multiplication(10,4)

40

In [11]:
def calc_num(data):
    new_lst = []
    for item in data:
        new_lst.append(item*2)
    print(new_lst)

In [12]:
calc_num([10,20,30,40,50])

[20, 40, 60, 80, 100]

In [13]:
lst = [10,20,30,40,50]

In [28]:
mymapfunc = map(lambda num : num*2,lst)

In [20]:
mymapfunc

In [21]:
for val in mymapfunc:
    print(val)

20
40
60
80
100

In [22]:
for item in mymapfunc:
    print(item)

In [26]:
list_num = list(mymapfunc)

In [27]:
print(list_num)

[20, 40, 60, 80, 100]

In [29]:
mytup = tuple(mymapfunc)

In [30]:
mytup

(20, 40, 60, 80, 100)