* Two Types of Loops

1) For Loop

2) While Loop

* For Loop


-- Start Point

-- End Point 


-- Step (optional)

In [1]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
range(1,11)

range(1, 11)

In [3]:
for item in range(10,0,-1):
    print(item)

10
9
8
7
6
5
4
3
2
1

In [7]:
total = 0
for num in range(1,11):
    total = total + num
print(total)

55

In [8]:
total = 1
for num in range(1,11):
    total = total * num
print(total)

3628800

In [1]:
fruit = "pineapple"

In [12]:
for count in range(0,len(fruit)):
    print(count,fruit[count])

0 p
1 i
2 n
3 e
4 a
5 p
6 p
7 l
8 e

In [2]:
fruit

'pineapple'

In [5]:
for char in range(0,len(fruit)):
    print(fruit[char].upper())

P
I
N
E
A
P
P
L
E

In [7]:
for char in range(0,len(fruit)):
    if (fruit[char] == 'a' or fruit[char] == 'e' or fruit[char] == 'i' 
        or fruit[char] == 'o' or fruit[char] == 'u'):
        print(fruit[char],end='')

ieae

In [8]:
fruit

'pineapple'

In [9]:
for item in fruit:
    print(item)

p
i
n
e
a
p
p
l
e

In [11]:
len(hobbies)

4

In [10]:
hobbies = ['cricket','swimming','cooking','skating']

In [13]:
for item in range(0,len(hobbies)):
    print(hobbies[item])

cricket
swimming
cooking
skating

In [14]:
even_numbers = []

In [16]:
for item in range(1,51):
    if (item%2==0):
        even_numbers.append(item)

In [17]:
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [18]:
hobbies = []
no_of_hobbies = int(input("How Many Hobbies Do You Have "))
for item in range(1,no_of_hobbies+1):
    inp_hobby = input("Enter the Name of Your Hobby ")
    hobbies.append(inp_hobby)
    
print(hobbies)

How Many Hobbies Do You Have 4
Enter the Name of Your Hobby cricket
Enter the Name of Your Hobby swimming
Enter the Name of Your Hobby cooking
Enter the Name of Your Hobby sleeping
['cricket', 'swimming', 'cooking', 'sleeping']

In [23]:
my_marks = []
inp_subject = int(input("How Many Subjects Do You Have "))
for item in range(1,inp_subject+1):
    inp_marks = int(input("Enter the Marks "))
    my_marks.append(inp_marks)

total = 0
for num in range(0,len(my_marks)):
    total = total+my_marks[num]
print(f'Your Total Marks is {total}')

How Many Subjects Do You Have 3
Enter the Marks 10
Enter the Marks 20
Enter the Marks 30
Your Total Marks is 60

In [24]:
hobbies

['cricket', 'swimming', 'cooking', 'sleeping']

In [25]:
for item in hobbies:
    print(item)

cricket
swimming
cooking
sleeping

In [26]:
mytup = (100,200,300,400,500)

In [30]:
for item in range(0,len(mytup)):
    print(item,mytup[item])

0 100
1 200
2 300
3 400
4 500

In [29]:
for val in mytup:
    print(val)

100
200
300
400
500

In [31]:
my_info = {
    'name':'good coder',
    'age':30,
    'designation':'DE',
    'qual':'ME',
    'loc':'Mumbai'
}

In [32]:
my_info

{'name': 'good coder',
 'age': 30,
 'designation': 'DE',
 'qual': 'ME',
 'loc': 'Mumbai'}

In [33]:
for key in my_info.keys():
    print(key)

name
age
designation
qual
loc

In [34]:
for val in my_info.values():
    print(val)

good coder
30
DE
ME
Mumbai

In [36]:
for k,v in my_info.items():
    print(k,v)

name good coder
age 30
designation DE
qual ME
loc Mumbai

In [42]:
myinfo = {}
inp_key = int(input("How Many Keys for Your Dictionary "))
inp_val = int(input("How Many Values for Your Dictionary "))

if inp_key == inp_val:
    for item in range(0,inp_key):
        key_data = input("Enter Your Key ")
        value_data = input("Enter Your Value ")
        myinfo[key_data] = value_data
else:
    print("Keys and Values Should Be Same ")
    
    
print(myinfo)

How Many Keys for Your Dictionary 3
How Many Values for Your Dictionary 3
Enter Your Key name
Enter Your Value good coder
Enter Your Key loc
Enter Your Value Mum
Enter Your Key desgn
Enter Your Value SDE
{'name': 'good coder', 'loc': 'Mum', 'desgn': 'SDE'}

In [43]:
my_dict = {}

In [45]:
for item in range(1,11):
    my_dict[item] = item**2

In [46]:
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [47]:
fruit

'pineapple'