* Two Types of Loops

1) For Loop

2) While Loop

* For Loop


-- Start Point

-- End Point 


-- Step (optional)

In [1]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
range(1,11)

range(1, 11)

In [3]:
for item in range(10,0,-1):
    print(item)

10
9
8
7
6
5
4
3
2
1

In [7]:
total = 0
for num in range(1,11):
    total = total + num
print(total)

55

In [8]:
total = 1
for num in range(1,11):
    total = total * num
print(total)

3628800

In [1]:
fruit = "pineapple"

In [12]:
for count in range(0,len(fruit)):
    print(count,fruit[count])

0 p
1 i
2 n
3 e
4 a
5 p
6 p
7 l
8 e

In [2]:
fruit

'pineapple'

In [5]:
for char in range(0,len(fruit)):
    print(fruit[char].upper())

P
I
N
E
A
P
P
L
E

In [7]:
for char in range(0,len(fruit)):
    if (fruit[char] == 'a' or fruit[char] == 'e' or fruit[char] == 'i' 
        or fruit[char] == 'o' or fruit[char] == 'u'):
        print(fruit[char],end='')

ieae

In [8]:
fruit

'pineapple'

In [9]:
for item in fruit:
    print(item)

p
i
n
e
a
p
p
l
e

In [11]:
len(hobbies)

4

In [10]:
hobbies = ['cricket','swimming','cooking','skating']

In [13]:
for item in range(0,len(hobbies)):
    print(hobbies[item])

cricket
swimming
cooking
skating

In [14]:
even_numbers = []

In [16]:
for item in range(1,51):
    if (item%2==0):
        even_numbers.append(item)

In [17]:
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [18]:
hobbies = []
no_of_hobbies = int(input("How Many Hobbies Do You Have "))
for item in range(1,no_of_hobbies+1):
    inp_hobby = input("Enter the Name of Your Hobby ")
    hobbies.append(inp_hobby)
    
print(hobbies)

How Many Hobbies Do You Have 4
Enter the Name of Your Hobby cricket
Enter the Name of Your Hobby swimming
Enter the Name of Your Hobby cooking
Enter the Name of Your Hobby sleeping
['cricket', 'swimming', 'cooking', 'sleeping']

In [23]:
my_marks = []
inp_subject = int(input("How Many Subjects Do You Have "))
for item in range(1,inp_subject+1):
    inp_marks = int(input("Enter the Marks "))
    my_marks.append(inp_marks)

total = 0
for num in range(0,len(my_marks)):
    total = total+my_marks[num]
print(f'Your Total Marks is {total}')

How Many Subjects Do You Have 3
Enter the Marks 10
Enter the Marks 20
Enter the Marks 30
Your Total Marks is 60

In [24]:
hobbies

['cricket', 'swimming', 'cooking', 'sleeping']

In [25]:
for item in hobbies:
    print(item)

cricket
swimming
cooking
sleeping

In [26]:
mytup = (100,200,300,400,500)

In [30]:
for item in range(0,len(mytup)):
    print(item,mytup[item])

0 100
1 200
2 300
3 400
4 500

In [29]:
for val in mytup:
    print(val)

100
200
300
400
500

In [31]:
my_info = {
    'name':'good coder',
    'age':30,
    'designation':'DE',
    'qual':'ME',
    'loc':'Mumbai'
}

In [32]:
my_info

{'name': 'good coder',
 'age': 30,
 'designation': 'DE',
 'qual': 'ME',
 'loc': 'Mumbai'}

In [33]:
for key in my_info.keys():
    print(key)

name
age
designation
qual
loc

In [34]:
for val in my_info.values():
    print(val)

good coder
30
DE
ME
Mumbai

In [36]:
for k,v in my_info.items():
    print(k,v)

name good coder
age 30
designation DE
qual ME
loc Mumbai

In [42]:
myinfo = {}
inp_key = int(input("How Many Keys for Your Dictionary "))
inp_val = int(input("How Many Values for Your Dictionary "))

if inp_key == inp_val:
    for item in range(0,inp_key):
        key_data = input("Enter Your Key ")
        value_data = input("Enter Your Value ")
        myinfo[key_data] = value_data
else:
    print("Keys and Values Should Be Same ")
    
    
print(myinfo)

How Many Keys for Your Dictionary 3
How Many Values for Your Dictionary 3
Enter Your Key name
Enter Your Value good coder
Enter Your Key loc
Enter Your Value Mum
Enter Your Key desgn
Enter Your Value SDE
{'name': 'good coder', 'loc': 'Mum', 'desgn': 'SDE'}

In [43]:
my_dict = {}

In [45]:
for item in range(1,11):
    my_dict[item] = item**2

In [46]:
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [1]:
fruit = 'pineapple'

{'p':3,'i':1,'n':1,'e':2,'l':1,'a':1}

In [3]:
char_count = {}
for item in range(0,len(fruit)):
    char_count[fruit[item]] = fruit.count(fruit[item])
    
print(char_count)

{'p': 3, 'i': 1, 'n': 1, 'e': 2, 'a': 1, 'l': 1}

In [4]:
myset = {100,200,300,400,500,600,70,'hi','bye'}

In [5]:
for item in myset:
    print(item)

bye
100
70
200
300
400
hi
500
600

In [6]:
even_set = set()

In [7]:
for item in range(1,51):
    if item%2 == 0:
        even_set.add(item)

In [8]:
even_set

{2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50}

### Write a Python program to sum all the items in a dictionary.
### dictionary = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Output: 210

In [10]:
total = 0
dictionary = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for item in dictionary.values():
    total = total + item
    
print(total)

210

### Write a Python script to generate and print a dictionary that contains
### a number (between 1 and n) in the form (x, x*x)
### Sample Dictionary ( n = 5) :
### Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [11]:
n = 5
square = {}
for item in range(1,n+1):
    square[item] = item ** 2
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## While Loop

1) iterating variable registration

2) define your while loop

3) to write the logic for your loop block

4) increment or decrement

In [13]:
number = 1
while(number<=10):
    print(number)
    number = number+1     # number+=1

1
2
3
4
5
6
7
8
9
10

In [14]:
num = 10
while(num>0):
    print(num)
    num = num -1    #num-=1

10
9
8
7
6
5
4
3
2
1

In [15]:
fruit = "pineapple"

In [17]:
index = 0
while(index<len(fruit)):
    print(fruit[index])
    index=index+1

p
i
n
e
a
p
p
l
e

In [18]:
even_list = []
odd_list = []

num = 1
while(num<=100):
    if num%2==0:
        even_list.append(num)
        num=num+1
    else:
        odd_list.append(num)
        num=num+1

In [19]:
even_list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [20]:
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

### Create a function that takes an email address and returns the name in
the address.
### • The "name" is the letters/alphabetical characters before the @ in the address.
### •The "name" will not always be an actual name.
### • Email addresses will end in something like @domain.com

* Examples


* get_name("yourname@example.com") ➞ "yourname"

* get_name("john64@gmail.com") ➞ "john"

* get_name("pamela78_Cole@hotmail.com") ➞ "pamelaCole"


* get_name("Chickenlololol29@yahoo.com") ➞ "Chickenlololol"

In [1]:
data = 'yourname@example.com'

In [2]:
data

'yourname@example.com'

In [3]:
res = data.split('@')

In [4]:
res

['yourname', 'example.com']

In [5]:
res[0]

'yourname'

In [6]:
data = 'pamela78_Cole@hotmail.com'

In [7]:
res = data.split('@')[0]

In [8]:
res

'pamela78_Cole'

In [9]:
data = 'pamela78_Cole@hotmail.com'
res = data.split('@')[0]
final = ''
for item in res:
    if item.isalpha():
        final = final+item
print(final)

pamelaCole

In [10]:
for item in range(1,21):
    if item == 15:
        break
    else:
        print(item)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [11]:
num = 10
while (num>0):
    if num == 5:
        break
    else:
        print(num)
        num=num-1

10
9
8
7
6

In [12]:
hobbies = ['cricket','swimming','cooking','travelling','skating']

In [13]:
for item in hobbies:
    if item == 'cooking':
        break
    else:
        print(item)

cricket
swimming

In [15]:
for num in range(1,11):
    if num == 5:
        print(f'I will be sent back to the loop with value {num}')
        continue
    else:
        print(num)

1
2
3
4
I will be sent back to the loop with value 5
6
7
8
9
10

In [16]:
lst = ['raj','rahul','punit','steve','henry']

In [17]:
for item in lst:
    if item == 'punit':
        continue
    else:
        print(item)

raj
rahul
steve
henry

In [21]:
len(lst)

5

In [22]:
lst

['raj', 'rahul', 'punit', 'steve', 'henry']

In [23]:
index = 0
while(index < len(lst)):
    if lst[index] == 'punit':
        index = index+1
        continue
    else:
        print(lst[index])
        index=index+1

raj
rahul
steve
henry

* List Comprehension

[expression loop condition]

[num for num in range(1,20)]

In [24]:
lst = []
for num in range(1,21):
    lst.append(num)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
mylst = [num for num in range(1,21)]

In [26]:
mylst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [27]:
cube = [val**3 for val in range(1,21)]

In [28]:
cube

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000]

In [29]:
odd_list  = [num for num in range(1,51) if num % 2 !=0]

In [30]:
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [31]:
lst = ['the','quick','brown','fox','is','jumping','over','the','lazy','dog']

In [33]:
[len(item) for item in lst]

[3, 5, 5, 3, 2, 7, 4, 3, 4, 3]

In [36]:
["even" if num%2 == 0 else "odd" for num in range(1,51)]

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [38]:
square = {num:num**2 for num in range(1,16)}

In [39]:
square

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [41]:
data = {item:len(item) for item in lst}

In [42]:
data

{'the': 3,
 'quick': 5,
 'brown': 5,
 'fox': 3,
 'is': 2,
 'jumping': 7,
 'over': 4,
 'lazy': 4,
 'dog': 3}

### Create a function that takes a number as an argument and
### returns "Fizz" , "Buzz" or "FizzBuzz" .


• If the number is a multiple of 3 the output should be "Fizz" .
• If the number given is a multiple of 5, the output should be "Buzz" .
• If the number given is a multiple of both 3 and 5, the output should
be "FizzBuzz" .


•If the number is not a multiple of either 3 or 5, the number should be
output on its own as shown in the examples below.•The output should always be a string even if it is not a multiple of 3
or 5.


Examples
fizz_buzz(3) ➞ "Fizz"

fizz_buzz(5) ➞ "Buzz"

fizz_buzz(15) ➞ "FizzBuzz"

fizz_buzz(4) ➞ "4"